@media screen and (min-width: 60em) {
    @keyframes move {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(1300px);
        }
    }

    section.sun-moon {
        width: 20%;
    }

    h1 {
        font-size: 10rem;
    }

    table {
        font-size: 2.5rem;;
    }

    h3.bigger-size {
        font-size: 4rem;
    }

}