/* Color: 
Font: Outer Space Crayola #303633 or black
Background for font: Magic Mint #8BE8CB
Card Background: Blue Munsell #1188AA
Cool Grey #888DA7
Marigold #ECA400
*/

/* Headings:font-family: 'Anton', sans-serif; 
Body: font-family: 'PT Sans Narrow', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

/* for fun page */
body#for-fun {
    background-color: #888DA7;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* weather pages */
body#weather {
    background-image: url('.././images/lightning.jpg');
    background-size: cover;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
}

nav {
    background-color: #888DA7;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

nav ul li a:visited {
    color: black;
    background-color: #1188AA;
}

nav ul li a:hover {
    color: #303633;
    background-color: #8BE8CB;
    cursor: pointer;
}

h1, h3 {
    font-family: 'Anton', sans-serif;
    color: #303633;
    background-color: #8BE8CB;
    text-align: center;
    margin: 0;  
}

p {
    padding: 5px;
}

h1 {
    font-size: 6.75rem;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2.color-change {
    /*how to make text change color from left to right */
    background: linear-gradient(to right, white, #303633);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h3 {
    font-size: 2rem;
    padding: 5px;
    border-radius: 15px;
}

h4 {
    font-size: 4rem;
    margin-top: 50px;
    margin-left: 5px;
    padding: 5px;
    font-family: 'Anton', sans-serif;
}

h5 {
    font-family: 'Anton', sans-serif;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 1.5rem;
}

/* for fun page */
h1#moving-heading:hover {
    transform: skew(15deg, 5deg);
    color: #1188AA;
}

/* home page */
div#svg-fun {
    display: flex;
    justify-content: space-around;  
    margin-top: 50px;
}

section {
    border:#303633 2px solid;
    border-radius: 25px;
    padding: 5px;
    background-color: #1188AA;
    box-shadow: 5px 5px 10px black;
}

section.sun-moon {
    width: 35%;
}

footer {
    color: #303633;
    background-color: #8BE8CB;
    text-align: center;
    margin: 0;
    padding: 5px;
}

/* -- home page -- */
@-webkit-keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150px);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150px);
    }
}

h4#moving-sun:after {
    content: '';
    width: 200px;
    height: 200px;
    background-image: url(../images/sun.png);
    display: block;
    -webkit-animation: 3s linear infinite 50ms move;
    animation: 3s linear infinite 50ms move;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

h4#moving-sun:hover:after {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

/* -- World Weather Page -- */
div#card-holder {
    margin-top: 10px;
    margin-bottom: 10px;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
