@media screen and (min-width: 32.5em) {
    header nav ul {
        display: flex;
    }

    header nav ul li {
        flex: 1 1 auto;
    }

    h2 {
        font-size: 3rem;
    }   
    
    @keyframes move {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(500px);
        }
    }

    div#card-holder, div#info-holder {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
    }

    .grow:hover {
        transform: scale(1.25);
    }

    table {
        font-size: 1.5rem;
    }

    form {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}