/* font-family: 'Roboto Mono', monospace; */
/* colors: Tyrian Purple #6A0136, Old Gold #BFAB25,
/*         Maroon X11 #B81365, Ming #026C7C */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Roboto Mono', 'Courier New', monospace;
}

h1 {
    font-size: 1.75rem;
    text-decoration: underline;
    color: #026C7C;
    padding-bottom: 0.5rem;
    text-align: center;
}

p {
    color: #6A0136;
}

main section {
    margin: 0.5rem auto;
    border: 5px solid #6A0136;
    padding: 0.5rem;
    background-color: rgba(191, 171, 37, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
}

input, button {
    padding: 0.35rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}

button {
    background-color: #B81365;
}

#incomplete-tasks, #completed-tasks {
    margin-left: 50px;
    font-weight: bold;
}

input {
    width: 275px;
}

label, h2 {
    font-size: 1.5rem;
    color: #026C7C; 
    font-weight: bold;
}

.listcontainer {
    margin: 0.5rem;
    padding: 0.5rem;
}

.list {
    margin: 0.2rem;
}

div ul {
    margin: 0.25rem;
    list-style: none;
}

div ul li.border-help {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border: 2px solid #6A0136;
    margin: 0.25rem;
}

ul li.border-help > li {
    flex-grow: 3;
    padding: 0.25rem;
}

#incomplete.hidden, #complete.hidden {
    display: none;
}

footer {
    margin-top: 85px;
}

footer strong {
    color: #026C7C;
}

.cross-out {
    text-decoration: line-through;
}

